<main>
    <div class="p-5 mb-4 bg-dark rounded-3">
        <div class="container-fluid py-5">
            <h2 class="title">Players e Equipes de Minecraft</h2>
            <hr>
            <br><br>
            <section class="row">
                <article class="col-6">
                    <h2>Lista de Players</h2>
                    <hr>
                    <a href="/rota_players/players/add">
                        <button class="btn btn-success">Novo Player</button>
                    </a>
                    <a href="/rota_players/players">
                        <button class="btn btn-primary">Lista de Players</button>
                    </a>
                    {{#each players}}
                    <div class="card mt-4">
                        <div class="card-body">
                            <h4><b>ID:</b>{{_id}}</h4>
                            <small><b>Nome:</b> {{nome}} </small><br>
                            <small><b>Equipe:</b> {{guild}} </small><br>
                            <!--Botão para editar players-->
                            <a href="/rota_players/editar_players/{{_id}}">
                                <button class="btn btn-success mt-3">
                                    Editar players
                                </button>
                            </a>
                            <!--botão para deletar players -->
                            <a href="/rota_players/deletar_players/{{_id}}">
                                <button class="btn btn-danger mt-3">
                                    Deletar players
                                </button>
                            </a>
                        </div>
                    </div>
                    {{/each}}
                </article>
                <article class="col-6">
                    <h2>Lista de Equipes</h2>
                    <hr>
                    <a href="/rota_guilds/guilds/add">
                        <button class="btn btn-success">Novo Equipe</button>
                    </a>
                    <a href="/rota_guilds/guilds">
                        <button class="btn btn-primary">Lista de Equipes</button>
                    </a>
                    {{#each guilds}}
                    <div class="card mt-4">
                        <div class="card-body">
                            <h4><b>ID:</b>{{_id}}</h4>
                            <small><b>Nome:</b> {{nome}} </small><br>
                            <a href="/rota_guilds/editar_guilds/{{_id}}">
                                <button class="btn btn-success mt-3">
                                    Editar Equipe
                                </button>
                            </a>
                            <!--botão para deletar guilds -->
                            <a href="/rota_guilds/deletar_guilds/{{_id}}">
                                <button class="btn btn-danger mt-3">
                                    Deletar Equipe
                                </button>
                            </a>
                        </div>
                    </div>
                    {{/each}}
                </article>
            </section>
        </div>
    </div>
</main>